.app-loading {
  height: 100vh;
  position: relative;

  &__icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    animation: show ease 1s;
  }
}
