@import '../../styles/configs';
@import '../../styles/colors';

.button {
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

  &--size-sm {
    height: 32px;
    padding: 120px;
    font-size: 0.75rem;
  }

  &--size-md {
    height: 46px;
    width: 160px;
    font-size: 1rem;
  }

  &--size-lg {
    height: 48px;
    width: 200px;
    font-size: 1rem;
  }

  &--borders-rounded {
    border-radius: 4px;
  }

  &--color-blue {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue-dark;
    }
  }
}
