@import '../styles/colors.scss';

.app {
  position: relative;
}

.img-cover {
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: auto;
}

.img-contain {
  object-fit: contain;
  max-width: 100%;
  display: block;
  height: auto;
}

.back-btn {
  margin-top: 16px;
  transition: 0.3s ease color;

  &:hover {
    color: $black;
  }
}
