@import '../../styles/colors.scss';
@import '../../styles/configs.scss';

.sidebar {
  width: 400px;
  background-image: url('../../assets/images/sidebar_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 16px;

  @media screen and (max-width: $breakpoint-up-sm) {
    width: 100%;
    background-size: cover;
    background-position: right;
  }

  &__container {
    height: 100%;
  }

  &__text-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $breakpoint-up-sm) {
      max-width: 320px;
      margin: 0 auto;
    }
  }

  &__title {
    color: $white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  &__desc {
    color: $white;
    margin-bottom: 24px;
  }

  &__signin-btn {
    cursor: pointer;
  }
}
