@import '../../styles/colors.scss';
@import '../../styles/configs.scss';

.comment {
  &__email {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 8px;

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 0.9rem;
    }
  }

  &__name {
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 600;

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 0.95rem;
    }
  }

  &__body {
    margin-bottom: 16px;

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 0.9rem;
    }
  }

  &__divider {
    background-color: $grey-1;
    height: 1px;
    margin-bottom: 16px;
  }
}
