@import '../../styles/colors.scss';
@import '../../styles/configs.scss';

.comments {
  &__title {
    margin-bottom: 24px;

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 0.9rem;
    }
  }

  &__divider {
    background-color: $grey-1;
    height: 1px;
    margin-bottom: 16px;
  }
}
