@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/configs.scss';

.post {
  &__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 1.6rem;
    }
  }

  &__body {
    margin-bottom: 48px;

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 1.2rem;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: $grey-2;
    margin-bottom: 24px;
  }
}
