@import '../../styles/colors.scss';
@import '../../styles/configs.scss';

.home {
  display: flex;
  height: 100%;
  min-height: 100vh;

  @media screen and (max-width: $breakpoint-up-sm) {
    flex-direction: column-reverse;
  }
}
