@import '../../styles/colors.scss';

.signin-page {
  min-height: 100vh;
  background-image: url('../../assets/images/background_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  &__main-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__form {
    margin-bottom: 24px;
  }
}
